[Unit]
Description=<system service which runs the backed api for Geo Media>
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/
ExecStart=/home/ubuntu/back_end/venv/bin/waitress-serve --port 5000 "back_end:api"
Restart=always

[Install]
WantedBy=multi-user.target